.formWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ededed;
  border: 2px solid darkgray;
  border-radius: 20px;
  padding: 14px;
}

.titleFontSize {
  font-size: 64px;
  padding-bottom: 22px;
  color: black;
}

.textStyle {
  font-size: 44px;
  padding-bottom: 52px;
  color: black;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputStyle {
  margin-bottom: 44px;
  width: 100%;
}
.btnPadding {
  padding-bottom: 76px;
}

.btnStyle {
  width: 120px;
  height: 50px;
}

.inputW {
  width: 100%;
}

@media screen and (max-width: 960px) {
  .titleFontSize {
    font-size: 32px;
  }

  .textStyle {
    font-size: 14px;
  }
}
