.baseLayoutWrapper {
  display: flex;
  height: 100vh;
}

.baseLayoutWrapperClassicTheme {
  background-color: rgba(0, 25, 53, 0.85);
}

.baseLayoutWrapperDarkTheme {
  background-color: rgba(0, 0, 0, 0.85);
}

.baseLayoutWrapperlightTheme {
  background-color: rgb(247, 247, 247);
}

.flexWrapper {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.container {
  position: relative;
  align-items: center;
}

.content {
  // position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.logoWrapper {
  display: none;
}

@media screen and (max-width: 768) {
  .logoWrapper {
    display: block;
  }
}
