.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  margin-top: 16px;
  overflow-y: auto;
}

.customTooltip {
  background-color: white;
  padding: 16px;
  border: 2px solid gray;
}

.tooltipTextClassicTheme {
  color: black;
  padding: 24px 0;
}

.tooltipTextLightTheme {
  color: white;
  padding: 24px 0;
}

.tooltipTextDarkTheme {
  color: #77c9e6;
  padding: 24px 0;
}
