.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  margin-top: 16px;
  overflow-y: auto;
}

.customTooltip {
  background-color: white;
  padding: 16px;
  border: 2px solid gray;
}

.tooltip {
  color: var(--tooltip-bgcolor);
  padding: 24px 0;
}
