.cardWrapper {
  background-color: var(--card-wrapper-bgcolor);
  border-radius: 5px;
  border: 2px solid black;
  //   height: 500px;
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.textWrapper {
  align-items: center;
  display: flex;
  padding-top: 16px;
}

.headerWrapper {
  padding-left: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.img {
  padding-top: 16px;
  height: 400px;
  width: 100%;
}

.title {
  text-align: center;
  font-weight: 700;
  margin-left: 16px;
  color: var(--post-text-color);
}

.titleBottom {
  padding-top: 24px;
  text-align: center;
  font-weight: 700;
  color: var(--post-text-color);
}

.text {
  color: var(--post-text-color);
  overflow-y: auto;
  padding: 4px 16px 16px 16px;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comments {
  padding-left: 16px;
  font-weight: 700;
  color: gray;
}

.likes {
  padding-right: 16px;
}

.icon {
  height: 20px;
  width: 20px;
  cursor: pointer;
  path {
    stroke: var(--smile-icon-color);
  }
}

.iconRotate {
  height: 20px;
  width: 20px;
  cursor: pointer;
  transform: rotate(180deg);
}

.bucketIcon {
  margin-top: 24px;
  padding-right: 16px;
  height: 20px;
  width: 20px;
  cursor: pointer;
  path {
    stroke: var(--bucket-icon-color);
    fill: var(--bucket-icon-color);
  }
}

.commentsWrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 8px;
}

.comments {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.userDataWrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.moreTextStyle {
  margin-left: 4px;
  color: #8e8e8e;
  cursor: n-resize;
}

.br {
  white-space: pre-wrap;
}

.userData {
  font-size: 16px;
  color: #262626;
  font-weight: bold;
  padding-bottom: 8px;
}

.commentStyle {
  font-size: 14px;
  color: #262626;
  padding-bottom: 8px;
}

.data {
  font-size: 10px;
  color: #8e8e8e;
}

.comments:last-child {
  padding-bottom: 8px;
}

.formWrapper {
  margin-left: 16px;
  padding-bottom: 16px;
}

.avatar {
  height: 34px;
  width: 34px;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .cardWrapper {
    margin-right: 16px;
  }
}
