.formWrapper {
  padding: 50px;
}
.inputWrapper {
  margin-bottom: 12px;
  align-items: center;
}

.downloadIcon {
  height: 16px;
  width: 16px;
  margin-left: 24px;
  padding-top: 12px;
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  padding-top: 12px;
}

input {
  display: none;
}

.btStyles {
  margin-left: 4px;
  font-weight: bold;
}

.textArea {
  resize: none;
  width: 200px;
  height: 50px;
}
